Repository mikamika06/viewcrypto: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fonts fixed
  src/assets/fonts/index.css
Due: stylelint --fix

added vercel annalitics
  package-lock.json
  package.json
  src/containers/App.tsx
Due: prettier --write, eslint --fix

add error processing
  .gitignore
  api/proxy.js
  src/features/Cryptos/ApiError/index.tsx
  src/features/Cryptos/index.tsx
  src/pages/Cryptos/Coin/index.tsx
  src/services/api/coingecko.ts
  src/stores/useCoinStore.ts
  vercel.json
Due: prettier --write, eslint --fix

rout fixed
  vercel.json
Due: prettier --write

Update LICENSE.md
  LICENSE.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yaml,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
